@tailwind base;
@tailwind components;
@tailwind utilities;

body{
max-width: 1240px;
margin: auto;

}
.primary-Btn{
    background-color: #23BE0A;
border-radius: 5px;
padding: 7px 9px;
font-weight: 600;
font-size: 16px;
color: aliceblue;


}
.primary-Btn:hover{
    background-color: #339724;
   

}
.primary-Btn:active{
    transform: scale(0.96);
}
.active{

  border: 2px solid #42b830;
  color: #41bb2f;
  border-radius: 6px;
  padding:  2px 4px;
}
.pbtn{
    border-radius: 9999px;
}